<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/changepass">
  <table width="200" border="0" align="center">
    <tr>
      <th scope="row">Current Password</th>
      <td><label for="npass"></label>
      <input type="password" name="cupass" id="cupass" class="form-control" required /></td>
    </tr>
     <tr>
      <th scope="row">New Password</th>
      <td><label for="npass"></label>
      <input type="password" name="npass" id="npass" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">Comfirm Password</th>
      <td><label for="cpass"></label>
      <input type="password" name="cpass" id="cpass" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="Submit"  class="btn btn-primary btn-rounded" /></th>
    </tr>
  </table>
</form>
</body>
</html>
