{% include "header.html" %}

<form id="form1" name="form1" method="post" action="/update2/{{ data['cid'] }}" >
  <table style="margin-left: 29%" border="0" align="center">
    <tr>
      <td width="140">Serial Number</td>
      <td><label for="sno"></label>
      <input type="text" name="sno" id="sno" value="{{ data['serial_no'] }}" class="form-control" required /></td>
    </tr>
    <tr>
      <td>Camera Model</td>
      <td><label for="cm"></label>
      <input type="text" name="cm" id="cm" value="{{ data['camera_model'] }}" class="form-control" required /></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><label for="loc"></label>
      <input type="text" name="loc" id="loc" value="{{ data['location'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><label for="lat"></label>
      <input type="text" name="lat" id="lat" value="{{data['latitude']  }}" class="form-control" required /></td>
    </tr>
    <tr>
      <td>longitude</td>
      <td><label for="lon"></label>
      <input type="text" name="lon" id="lon" value="{{ data['longitude'] }}" class="form-control" required/></td>
    </tr>
    <tr>

      <td align="center" colspan="2" height="80"><input type="submit" name="cam" id="cam" value="UPDATE"  class="btn btn-primary btn-rounded" /></td>
    </tr>
  </table>
</form>
<br>
{% include "footer.html" %}
