<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<form action="/updaterc/{{ data['uid'] }}" method="post" enctype="multipart/form-data" name="form1" id="form1">


  <table width="600" height="400"  align="center">
   <caption><center><b style="font-family :'Arial Rounded MT Bold'"><font color="#ff4500">REGISTERATION</font></b></center>

   </caption>

    <tr>
      <th scope="row">Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="name" id="name" value="{{ data['uname'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><input type="radio" name="radio" id="radio" value="male"{% if data['gender'] =='male'%}checked{% endif %} />
      <label for="radio"></label>
      male
      <input type="radio" name="radio" id="radio2" value="female" value="male"{% if data['gender'] =='female'%}checked{% endif %}/>
      <label for="radio2"></label>
      female</td>
    </tr>
    <tr>
      <th scope="row">DateOfBirth</th>
      <td><label for="textfield2"></label>
      <input type="date" name="dob" id="dob" value="{{ data['dob'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">place</th>
      <td><label for="textarea"></label>
        <label for="textfield6"></label>
      <input type="text" name="place" id="place" value="{{ data['place'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label for="textfield3"></label>
      <input type="text" name="post" id="post" value="{{ data['post'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label for="textfield4"></label>
      <input type="number" name="pin" id="pin" value="{{ data['pin'] }}" class="form-control" pattern="[0-9]{6}" required/></td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td><label for="textfield9"></label>
      <input type="email" name="email" id="email" value="{{ data['email'] }}"  class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Photo</th>
      <td><label for="textfield7"></label>
        <label for="fileField"></label>
      <input type="file" name="photo" id="photo" value="{{ data['photo'] }}" /></td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td><label for="textfield5"></label>
      <input type="tel" name="contact" id="contact" value="{{ data['contact'] }}"  pattern="[6-0][0-9]{9}"  class="form-control" required/>
      <label for="textfield8"></label></td>
    </tr>


    <tr>
      <td align="center" colspan="2" scope="row"><input type="submit" name="button" id="button" value="submit"  class="btn btn-primary btn-rounded" /></td>
    </tr>
  </table>
</form>
{% include "footer.html" %}
