
{% include "commonheader.html" %}
 <div class="page-title">
              <div class="title_left">
                <h3>Forgot Password???</h3>
              </div>
 </div><div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
{#                    <h2>Get <small>your Own Password...!!<small></h2>#}
                       <div class="clearfix"></div>
                  </div>
{#                  <div class="x_content">#}
                    <br />
<body>
<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" name="form1" method="post" action="/forget_pswd1">

  <table border="0" width="666" align="center"><thead>
    <tr >
      <th  >Username</th>
      <th><label for="textfield"></label>
      <input type="email" name="textfield" id="textfield" required="required" class="form-control" placeholder="Your email id"/></th>
{#    </tr></thead><tbody>#}
{#    <tr  class="item form-group">#}
{#      <th class="col-form-label col-md-3 col-sm-3 label-align">Details</th>#}
{#      <th><label for="textarea"></label>#}
{#      <textarea name="textarea" id="textarea" cols="55" rows="5" required="required" class="form-control "></textarea></th>#}
{#    </tr></tbody>#}
    <tr   align="center">
      <td  colspan="2" align="center" height="80" >
        <input type="submit" name="Sent" id="Sent" class="btn btn-primary btn-round" value="Sent" />
     </td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form><br><br><br><br><br><br><br><br><br><br>
{% include "footer.html" %}

