<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Traffic Offense | Adminpro - Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/form.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="materialdesign">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="#"><img src="../static/logo1.jpg" height="200" width="200" alt="" />
                    </a>
                    <h3>WELCOME</h3>
                    <p><font color="#ff4500">Traffic</font><font color="orange"> Police</font></p>
                    <strong>TP+</strong>
                </div>
                <div class="left-custom-menu-adp-wrap">
                    <ul class="nav navbar-nav left-sidebar-menu-pro" >
                        <li class="nav-item">
                            <a href="/tphome" >
                                <i class="fa big-icon fa-home"></i> <span class="mini-dn">Home</span> </a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">#}
{#                                <a href="dashboard.html" class="dropdown-item">Dashboard v.1</a>#}
{#                                <a href="dashboard-2.html" class="dropdown-item">Dashboard v.2</a>#}
{#                                <a href="analytics.html" class="dropdown-item">Analytics</a>#}
{#                                <a href="widgets.html" class="dropdown-item">Widgets</a>#}
{#                            </div>#}
                        </li>
                        <li class="nav-item">
                            <a href="/viewpro" >
                            <i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Profile</span>
                        </a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">#}
{#                                <a href="/viewrc" class="dropdown-item">Approve/Reject</a>#}
{#                                <a href="/viewarc" class="dropdown-item">Approved list</a>#}
{#                                <a href="/viewrrc" class="dropdown-item">Rejected list</a>#}
{#                            </div>#}
                        </li>
                        <li class="nav-item"><a href="/vpen" >
                            <i class="fa big-icon fa-flask"></i> <span class="mini-dn">View Penalty Info</span></a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">#}
{#                                <a href="/tp" class="dropdown-item">Add</a>#}
{#                                <a href="/viewtp" class="dropdown-item">View</a>#}
{#                            </div>#}
                        </li>
                        <li class="nav-item"><a href="/vveh">
                            <i class="fa big-icon fa-pie-chart"></i> <span class="mini-dn">View Vehicles</span>
                        </a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">#}
{#                                <a href="/camera" class="dropdown-item">Add</a>#}
{#                                <a href="/viewcam" class="dropdown-item">View</a>#}
{#                            </div>#}
                        </li>
                        <li class="nav-item"><a href="/helmetvio">
                            <i class="fa big-icon fa-bar-chart-o"></i> <span class="mini-dn">Helmet Violations</span>
                        </a>
                            {#                            <div role="menu" class="dropdown-menu left-menu-dropdown chart-left-menu-std animated flipInX">#}
{#                                <a href="/veh" class="dropdown-item">Add vehicle No.</a>#}
{#                                <a href="/vv" class="dropdown-item">View Vehicle</a>#}
{#                                <a href="/adminvb" class="dropdown-item">Blacklisted Vehicles</a>#}
{#                                <a href="/vvio" class="dropdown-item">Violated vehicles</a>#}
{#                            </div>#}
                        </li> <li class="nav-item"><a href="/viewtrackedvio">
                            <i class="fa big-icon fa-bar-chart-o"></i> <span class="mini-dn">Tracked Violations</span>
                        </a>
                            {#                            <div role="menu" class="dropdown-menu left-menu-dropdown chart-left-menu-std animated flipInX">#}
{#                                <a href="/veh" class="dropdown-item">Add vehicle No.</a>#}
{#                                <a href="/vv" class="dropdown-item">View Vehicle</a>#}
{#                                <a href="/adminvb" class="dropdown-item">Blacklisted Vehicles</a>#}
{#                                <a href="/vvio" class="dropdown-item">Violated vehicles</a>#}
{#                            </div>#}
                        </li>
                         <li class="nav-item"><a href="/viewoffence"><i class="fa big-icon fa-edit"></i> <span class="mini-dn">View Offences</span>
                        </a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown form-left-menu-std animated flipInX">#}
{#                                <a href="basic-form-element.html" class="dropdown-item">Basic Elements</a>#}
{#                                <a href="advance-form-element.html" class="dropdown-item">Advance Elements</a>#}
{#                                <a href="password-meter.html" class="dropdown-item">Password Meter</a>#}
{#                                <a href="multi-upload.html" class="dropdown-item">Multi Upload</a>#}
{#                                <a href="tinymc.html" class="dropdown-item">Text Editor</a>#}
{#                                <a href="dual-list-box.html" class="dropdown-item">Dual List Box</a>#}
{#                            </div>#}
                        </li>
                        <li class="nav-item"><a href="/viewblacktp" ><i class="fa big-icon fa-table"></i> <span class="mini-dn">Blacklisted Vehicle</span></a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">#}
{#                                <a href="static-table.html" class="dropdown-item">Static Table</a>#}
{#                                <a href="data-table.html" class="dropdown-item">Data Table</a>#}
{#                            </div>#}
                        </li>

                        <li class="nav-item"><a href="/vcom" ><i class="fa big-icon fa-desktop"></i> <span class="mini-dn">Pending Complaints</span>
                        </a>
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown apps-left-menu-std animated flipInX">#}
{#                                <a href="notifications.html" class="dropdown-item">Notifications</a>#}
{#                                <a href="alerts.html" class="dropdown-item">Alerts</a>#}
{#                                <a href="modals.html" class="dropdown-item">Modals</a>#}
{#                                <a href="buttons.html" class="dropdown-item">Buttons</a>#}
{#                                <a href="tabs.html" class="dropdown-item">Tabs</a>#}
{#                                <a href="accordion.html" class="dropdown-item">Accordion</a>#}
{#                                <a href="tab-menus.html" class="dropdown-item">Tab Menus</a>#}
{#                            </div>#}
                        </li>
{#                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-files-o"></i> <span class="mini-dn">Pages</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>#}
{#                            <div role="menu" class="dropdown-menu left-menu-dropdown pages-left-menu-std animated flipInX">#}
{#                                <a href="login.html" class="dropdown-item">Login</a>#}
{#                                <a href="register.html" class="dropdown-item">Register</a>#}
{#                                <a href="captcha.html" class="dropdown-item">Captcha</a>#}
{#                                <a href="checkout.html" class="dropdown-item">Checkout</a>#}
{#                                <a href="contact.html" class="dropdown-item">Contacts</a>#}
{#                                <a href="review.html" class="dropdown-item">Review</a>#}
{#                                <a href="order.html" class="dropdown-item">Order</a>#}
{#                                <a href="comment.html" class="dropdown-item">Comment</a>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Header top area start-->
        <div class="content-inner-all">
            <div class="header-top-area">
                <div class="fixed-header-top">
                    <div class="container-fluid" style="background: blue">
                        <div class="row">
                            <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                                <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="admin-logo logo-wrap-pro">
                                    <a href="#"><img src="img/logo/log.png" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                                <div class="header-top-menu tabl-d-n">
                                    <ul class="nav navbar-nav mai-top-nav">
                                      <li class="nav-item"> <a href="/tphome" class="nav-link"> <i class="fa fa-home"></i> HOME</a>
                                        </li>
{#                                        <li class="nav-item"><a href="#" class="nav-link">About</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item"><a href="#" class="nav-link">Services</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item dropdown">#}
{#                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Project <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>#}
{#                                            <div role="menu" class="dropdown-menu animated flipInX">#}
{#                                                <a href="#" class="dropdown-item">Company Info</a>#}
{#                                                <a href="#" class="dropdown-item">Documentation</a>#}
{#                                                <a href="#" class="dropdown-item">Expert Backend</a>#}
{#                                                <a href="#" class="dropdown-item">Expert FrontEnd</a>#}
{#                                                <a href="#" class="dropdown-item">Contact Support</a>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="nav-item"><a href="#" class="nav-link">Support</a>#}
{#                                        </li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">

                                    <a href="/logout" class="btn btn-outline-dark btn-danger btn-rounded">LOG OUT</a>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end-->
            <!-- Breadcome start-->
            <div class="breadcome-area mg-b-30 small-dn">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcome-list shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
												<input type="text" placeholder="Search..." class="form-control">
												<a href=""><i class="fa fa-search"></i></a>
											</form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="breadcome-menu">
                                            <li>
<i class="fa big-icon fa-home"></i><a href="/tphome"> Home</a> <span class="bread-slash"></span>
                                            </li>
                                            <li><span class="bread-blod"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcome End-->

            <!-- Breadcome start-->
            <div class="breadcome-area mg-b-30 des-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
												<input type="text" placeholder="Search..." class="form-control">
												<a href=""><i class="fa fa-search"></i></a>
											</form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="/tphome">Home</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcome End-->
            <!-- Order Form Start-->
            <div class="login-form-area mg-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3"></div>






