{% include "header.html" %}

<form id="form1" name="form1" method="post" action="">

  <table class="table table-striped"  align="center">
      <caption><center><b style="font-family :'Arial Rounded MT Bold'"><font color="#ff4500">VIEW TRAFFIC POLICE</font></b></center></caption>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">photo</th>
      <th scope="col">Email</th>
      <th scope="col">contact</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
        <td>{{ i['tpname'] }}</td>
      <td><img src="{{ i['photo'] }}" class="img-rounded"  width="100"/> </td>
      <td>{{ i['email'] }}</td>
      <td>{{ i['contact'] }}</td>
      <td><p><a href="/edit/{{ i['tid'] }}" class="btn btn-rounded btn-primary">EDIT</a>
          <a href="/delete/{{ i['tid'] }}" class="btn btn-danger btn-rounded">DELETE</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% include "footer.html" %}

